# https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/iam_account_password_policy
locals {
  excluded_accounts_account_password_policy = [
%{ for i, account_id in excluded_accounts ~}
    "${account_id}",
%{ endfor }  ]
}

resource "aws_iam_account_password_policy" "account_password_policy" {
  count = contains(local.excluded_accounts_account_password_policy, local.current_account_id) ? 0 : 1

  minimum_password_length        = ${minimum_password_length}
  max_password_age               = ${max_password_age}
  password_reuse_prevention      = ${password_reuse_prevention}
  require_lowercase_characters   = ${require_lowercase_characters}
  require_numbers                = ${require_numbers}
  require_uppercase_characters   = ${require_uppercase_characters}
  require_symbols                = ${require_symbols}
  allow_users_to_change_password = ${allow_users_to_change_password}
}
