# https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/guardduty_detector

locals {
  excluded_accounts_guardduty = [
    "${aggregation_account_id}",
%{ for i, account_id in excluded_accounts ~}
    "${account_id}",
%{ endfor }  ]
}

%{ for region in all_regions ~}
resource "aws_guardduty_detector" "gd_detector_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  region = "${region}"
  enable = true
}

%{ if enable_s3_logs ~}
resource "aws_guardduty_detector_feature" "s3_protection_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "S3_DATA_EVENTS"
  status      = "ENABLED"
}
%{ else }
resource "aws_guardduty_detector_feature" "s3_protection_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "S3_DATA_EVENTS"
  status      = "DISABLED"
}
%{ endif}

%{ if enable_kubernetes ~}
resource "aws_guardduty_detector_feature" "eks_audit_logs_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "EKS_AUDIT_LOGS"
  status      = "ENABLED"
}

resource "aws_guardduty_detector_feature" "eks_runtime_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "EKS_RUNTIME_MONITORING"
  status      = "ENABLED"

  additional_configuration {
    name   = "EKS_ADDON_MANAGEMENT"
    status = "ENABLED"
  }
}
%{ else }
resource "aws_guardduty_detector_feature" "eks_audit_logs_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "EKS_AUDIT_LOGS"
  status      = "DISABLED"
}

resource "aws_guardduty_detector_feature" "eks_runtime_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "EKS_RUNTIME_MONITORING"
  status      = "DISABLED"

  additional_configuration {
    name   = "EKS_ADDON_MANAGEMENT"
    status = "DISABLED"
  }
}
%{ endif}

%{ if enable_ebs_volume_protection ~}
resource "aws_guardduty_detector_feature" "ebs_protection_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "EBS_MALWARE_PROTECTION"
  status      = "ENABLED"
}
%{ else }
resource "aws_guardduty_detector_feature" "ebs_protection_${lower(replace(region, "-", "_"))}" {
  count = contains(local.excluded_accounts_guardduty, local.current_account_id) ? 0 : 1

  detector_id = aws_guardduty_detector.gd_detector_${lower(replace(region, "-", "_"))}[0].id
  name        = "EBS_MALWARE_PROTECTION"
  status      = "DISABLED"
}
%{ endif}

%{ endfor ~}
